#canvas {
  aspect-ratio: auto !important;
	height: 50% !important;
}
#warning {
	display: none;
	font-size: 24px;
	text-align: center;
	color: rgb(75 85 99 / var(--tw-text-opacity));
	font-style: italic;
}
.warningA {
	font-size: 24px;
	color: rgb(31, 1, 231);
}